/**
 * UCOL BOOTSTRAP
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 *

whitesmoke
text grey blue: #455268
airbnb grey: #000
pink: #f55

lightgrey: #e9f1f2
light blue: #54898f
darkgrey text: #000
gold: #f7b71d

/*DTPU colors

bright yellow: #FEE92C
lt grey:#F2F4F4
med.gray: #7F8C8D
dk gray: #424949
dk gold: C4B20E


/* Super small teeny tiny mobile */


@media (max-width: 550px) {
.view-grouping-content .field-content {
	height:auto !important;
	}

h3, .h3 {font-size: 18px;}

.responsive-tabs .responsive-tabs__panel {
	padding-left:0 !important;
	padding-right:0 !important;
}

.field-content-address, ul.place-type-list {display: none;}
}

/* All + Mobile */

@import url(http://fonts.googleapis.com/css?family=Raleway:700,400);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400);
@import url(./fonts/icomoon/fonts/icomoon.eot);
@import url(./fonts/icomoon/fonts/icomoon.svg);
@import url(./fonts/icomoon/fonts/icomoon.woof);
@import url(./fonts/icomoon/fonts/icomoon.ttf);


html {
overflow-y: scroll;
}

body {
line-height: 1.43;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
letter-spacing: .8px;
color: #000;
font-family: "Raleway","Open Sans","Helvetica Neue",sans-serif;
font-size: 16px;
background: #F2F4F4;
}

html ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: rgba(0,0,0,.07);
}


h1, h2, h3, h4, h5, h6, .field .field-label, .panel-title, .menu a {
font-family: "Raleway"; "Open Sans","Helvetica Neue",sans-serif;
color: #000;
text-transform: uppercase;
letter-spacing: 20%;
}



/* h1, h2, h3, h4, h5, h6 {
font-weight: normal;
text-rendering: optimizelegibility;}
 */

h1, h3 {font-weight: 700;}

h3 {font-family: "Open Sans","Helvetica Neue",sans-serif;}

a, h3 a, .story-right h3 a {color: #000; }
a:hover {text-decoration: none; color: #424949; cursor: pointer;}
a:visited, a:focus {text-decoration: none;}
.story-right a, a.more-link, a.less-link {color: #000;}
a.underline {text-decoration: underline;}
.group-basic .panel-body a, .group-biography a {color: white; border-bottom: 1px rgba(255,255,255,0.5) solid !important;}
p a {border-bottom: 1px rgba(0,0,0,0.5) solid;}
.left {
float: left;
margin: 0 10px 10px 0;
}


.story-on-place .story-post-image img {width: 20%; float: left; margin: 0 10px 0 0;}

.story-right .left {
width: 220px;
margin: 0px auto;
float: none;
}

.views-field-field-story-type .left{
float: none;
text-align: center;
}

.place-icon a {border-bottom: none !important;}

blockquote {
  border-left: 0px #fff solid;
}
blockquote:before {
  font-family: Georgia, serif;
  color: #ccc;
  content:"\201C" !important;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}



blockquote:after {
font-family: Georgia, serif;
color: #ccc;
content:"\201D" !important;
font-size: 4em;
line-height:.5em;
margin-right:.25em;
vertical-align:-0.55em;
}

blockquote p {
  display: inline;
  font-size: 16px;
}

.col-inner {
background: white;
float: left;
width: 100%;
padding: 10px;
}

.col-inner h3 {text-align: left !important;}

.element-invisible {
    margin: 0;
    padding: 0;
    width: 1px;
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    height: 1px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #424949;
    padding: 5px;
	}

  .btn-lg {
      border-radius: 0px;
  }

  .btn-info {
      color: #000;
      background-color: #FEE92C;
      border-color: #000;
      border: solid #000 4px;
  }

  .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
    color: #000;
    background-color: #FEE92C;
    border-color: #000;
}


.btn-outline:hover {
background: #000;
    color: #FEE92C;
    border: #000 4px solid;
}

/* Youtube Reflexive */
.vid-container {
    position: relative;
    padding-bottom: 50%;
    padding-top: 35px; height: 0; overflow: hidden;
}

.vid-container iframe,
.vid-container object,
.vid-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.main-container {
padding: 0;
/*padding: 10px 11% 200px;*/
}

.modal-dialog {
    z-index: 2001 !important;
}

.search-collection {
margin: 10px auto;
    padding: 20px 0;

}

.search-collection h2 {
	text-align:center;
}

.panel-body a {border-bottom: #000 solid 1px;}
.panel-body h3 a {border-bottom: none;}

.pods-form-filters-submit {
    color: #FEE92C;
    background-color: #000;
    border: 0px solid #ccc;
border-radius: 0px;
    padding: 3px 10px;
    text-transform: uppercase;

}

.search-collection form {
margin-bottom: 40px;
text-align: center;
}

.search-collection h4 {text-align: center;}

.page-story-collection .main-container, .page-showcase-of-writers .main-container {background-color: #F2F4F4;}

.col-lg-6 {margin-bottom: 15px;}

.page-story-collection h3, .page-showcase-of-writers h3 {
word-break: break-word;
font-size: 24px;
font-weight: 900;
}

.showcase .row {padding-bottom: 30px;}

.excerpt a {
color: #7F8C8D;
}

.jumbotron, .spotlight {
padding: 0;
overflow: hidden;
background-color: white;
margin-bottom: 0px;
}

.jumbo-page-content  input {
	margin: 0 auto;
	display:block;
	clear:both;
}

#overlay
{min-width: 0px !important;}

/* Splash */

.splash-logo {
}

.splash-logo img {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -999;
}


@media screen and (max-width: 1024px) { /* Specific to this particular image */
.splash-logo img {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}


.scrim {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 1;
background: rgba(55,49,1,0) !important;
/*
background: #58f9e9;
background: -moz-linear-gradient(45deg,  #58f9e9 0%, #c5f418 70%, #c5f418 70%, #cccc35 100%, #ccff33 100%);
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#58f9e9), color-stop(70%,#c5f418), color-stop(70%,#c5f418), color-stop(100%,#cccc35), color-stop(100%,#ccff33));
background: -webkit-linear-gradient(45deg,  #58f9e9 0%,#c5f418 70%,#c5f418 70%,#cccc35 100%,#ccff33 100%);
background: -o-linear-gradient(45deg,  #58f9e9 0%,#c5f418 70%,#c5f418 70%,#cccc35 100%,#ccff33 100%);
background: -ms-linear-gradient(45deg,  #58f9e9 0%,#c5f418 70%,#c5f418 70%,#cccc35 100%,#ccff33 100%);
background: linear-gradient(45deg,  #58f9e9 0%,#c5f418 70%,#c5f418 70%,#cccc35 100%,#ccff33 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58f9e9', endColorstr='#ccff33',GradientType=1 );
*/

}


.splash-layer {
position: absolute;

padding: 60px;
z-index: 2;
width: 100%;
text-align: center;
box-sizing: border-box;
display: block;
overflow: hidden;
color: white;
}

.splash-layer h1 {
font-family: 'headline', "Raleway", Helvetica Neue, sans-serif;
color: white;
text-transform: uppercase;
 font-size: 5em;
}

.splash-buttons a {
    margin: 10px;
    outline: solid white 4px;
    padding: 11px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    letter-spacing: 4px;

}

.splash-buttons a:hover {
    color: #000;
    background-color: white;
        }


@media only screen and (max-width: 320px) {

   .splash-layer h1 { font-size: 2.5em;}

}

.splash-buttons {
margin-top: 2%;
}



.front .splash-layer-content a {
border: 3px solid white;
padding: 10px 5px;
background-color: transparent;
color: white;
margin: 10px 10px 20px 10px;
color: white;
text-transform: uppercase;
font-weight: bold;
letter-spacing: 5px;
font-size: 1.1em;
display: inline-block;
}

.front .splash-layer-content a:hover{background-color: white; color: #000;}


.navbar-default .navbar-toggle {
border-color: transparent;
}

.story-right img {
width: 100%;
height: auto;
}

.story-right .place-icon {
width: 100%;
text-align: center;
margin: 0 auto;
}

.place-icon img {width: 220px;}
.location-text{border: #e9f1f2;}
.address {font-size: 0.8em; text-transform: uppercase;}

/*Scroll Bars!*/

::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(192,192,192,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0);
}

/* Mobile Nav */

.mobile .navbar-nav {
width: 100%;
min-width: 100%;
padding: 0;
margin: 0;
height: 50px;
}

.mobile .navbar li {
height: 50px;
width: 25%;
float: left;
text-align: center;

}

.mobile .navbar li a {
font-size: 85%;
text-transform: initial;
display: inline-block;
vertical-align: bottom;
color: #aaa;
}

.mobile .navbar li a:before{
width: 100%;
font-family: 'Material Design Icon';
color: #aaa;
clear: both;
font-size: 2em;
display: inline-block;
content: '\e689';
}


/** hidden search field **/
#searchbar {
  display: none;
  width: 100%;
  height: 40px;
  border-top: 1px solid #d8d8d8;
  z-index: 9999;
  background: #fff;
  position: relative;
}

#s {
  display: block;
  width: 100%;
  border: 0;
  outline: none;
  padding: 0;
  height: 40px;
  line-height: 40px;
  font-size: 1em;
  color: #676767;
  text-align: center;
  padding-right: 40px;
  background-color: #F2F4F4;
}

#searchsubmit {
  text-transform: uppercase;
  display: block;
  float: right;
  margin-top: 6px;
  background: none;
  color: #717171;
  border: 0;
  outline: none;
  cursor: pointer;


}

.search-result-page .story {clear:both;}
.search-result-page .entry-content {display: none;}
.search-result-page h2 {font-size: 20px; line-height: normal;}

form#searchform .button {
font-size: 20px;
text-transform: uppercase;
font-weight: bold;
color: #424949;
background-color: #FEE92C;
padding: 6px 10px;
border-width: 0px;
cursor: pointer;
position: absolute;
right: 0px;
top: 0px;
font-family: "Raleway","Open Sans","Helvetica Neue",sans-serif;

}


/* Nav */

.navbar .logo {padding-right: 10px;}
.navbar-collapse {background-color: #FEE92C;}
.navbar-collapse a {color: #000 !important;}

/*.navbar ul.navbar-nav {display: none;}*/
.navbar-fixed-bottom ul.navbar-nav {display: block;}
.navbar ul.secondary {display: block;}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: #000;
  background-color: transparent;
}

.front h1.mobile-title, .front .back  {color: white; }
.front   .icon-bar {background-color: white !important;}

h1.mobile-title {
font-size: 1em;
text-overflow: ellipses;
width: 100%;
position: absolute;
text-align: center;
left: 0;
right: 0;
z-index: -1;
max-width: 300px;
max-height: 40px;
margin: 15px auto 0px;
text-transform:none;
font-family: "Open Sans","Helvetica Neue",sans-serif;
}


.relative {
position: relative;
}

.absolute {
position: absolute;
}


span.boxed-small a{
color: white;
font-size: .8em;
text-transform: uppercase;
padding: 4px;
border: 1px white solid;
color: white;
}

span.boxed-small-color {
color: white;
font-size: .8em;
text-transform: uppercase;
/* padding: 4px;
border: 1px #f55 solid; */
color: #424949;
}

span.lower-right {
float: right;
}

.ajax-progress-throbber { display: none}

/* Search Mode */

.page-search-node .main-container {
min-height: 400px;
padding: 20px 11%;
}

form#search-block-form {
line-height: 30px;
}

.navbar .block-search {
    position: absolute;
    top: 0;
    right: 20px;
    height: 20px;
	width: 10px;
}

.block-search .input-group {
height: 50px;
}

.block-search .form-control{
border: 0px solid #ccc;
border-radius: 0px;
box-shadow: inset 0 0px 0px rgba(0,0,0,0.0);
display: none;
}

.block-search .btn {
border: 0px solid #ccc;
border-radius: 0px;
background: transparent;
color: #000;
float: right;
}

.navbar #block-search-form {
margin: 0px;
}


.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: transparent;
}

.menu-item-66 a:before, .menu-item-67 a:before, .menu-item-68 a:before, .menu-item-104 a:before, .menu-item-173 a:before {
width: 30px;
height: 30px;
font-family: 'icomoon';
color: #e00007;
font-size: 20px !important;
display: block;
background: transparent;
text-align: center;
font-weight: 500;
display: block;
float: left;
margin: 0 20px 0 0;
}

.about:before {content:'\e030';}
.menu-item-66 a:before {content:'\e033';}
.stories:before {content:'\e00b';}
.menu-item-67 a:before {content:'\e045';}
.menu-item-68 a:before {content:'\e053';}
.menu-item-104 a:before {content:'\e047';}
.menu-item-173 a:before {content: '\e037';}

.menu-item-173 a, .menu-item-104 a  {
color: #000;
font-size: 16px;
}

/*mobile nav*/
.navbar-default .navbar-toggle .icon-bar {
background-color: #000;
}

.navbar-brand {display: none;}

.logo img {display: none; height: 30px; margin-top: 10px;}


.back {
color: #000;
clear: both;
font-size: 2em;
display: inline-block;
padding: 0 10px;
line-height: 30.5px;
}

.navbar {
margin-bottom: 0px;
/*padding: 0 11%;*/
}

.navbar a{
font-weight: 700;
font-size: 16px;
color: white;

}

.navbar a:hover{
color: white;
}

.navbar-default {
background-color: transparent;
color: #000;
border-color: transparent;
}

.front .navbar-default {
background-color: transparent;
}

.navbar-brand {
padding: 15px 0px;
}

a.navbar-brand  {
font-size: 1em;
font-weight: 700;
font-family: "Open Sans","Helvetica Neue",sans-serif;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
color: #000;
}

.navbar-default .navbar-brand {
font-family: "headline","Helvetica Neue",sans-serif;
color: #000;
font-size:1.2em;
}



.navbar-default .navbar-brand a:hover, .navbar-default .navbar-brand a:visited , .navbar-default .navbar-brand:hover {
color: #000;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>li>a{
background: white;
color: #000;
}

.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>li>a:hover {
color: #000;
}

.navbar-nav {
  float: right;
}

.in .navbar-nav {

  float: left;}

/*Front Nav Light */


.front .navbar-default .navbar-nav>.active>a, .front .navbar-default .navbar-nav>.active>a:hover, .front .navbar-default .navbar-nav>.active>a:focus, .front .navbar-default .navbar-nav>li>a{
background: transparent;
color: white;
}

.front .block-search .btn, .front .navbar-default .navbar-brand, .front .navbar-default .navbar-brand a:hover, .front .navbar-default .navbar-brand a:visited , .front .navbar-default .navbar-brand:hover {
color: white;
}

.front .in a.map:before {
color: #e00007;
}

/*.logo img{
opacity: 0.5;
filter: alpha(opacity=30);
}

.logo img:hover{
opacity: 1;
filter: alpha(opacity=100);
}
*/

.navbar-btn {
margin-top: 0px;
margin-bottom: 0px;
}

.three-bar{
text-align: center;
}

.three-bar span.glyphicon {
font-size: 4.5em;
}

/* Home Page */

.front  .main-container {text-align: center;}

/*Jumbotron*/

.jumbotron, .spotlight, .jumbotron-credit {
display: none;
}



/* Full-Width Bars */

.title-bar {
    font-size: 1.2em;
    display: block;
    text-align: center;
    color: white;
    padding: 40px 20%;
    background: #424949;
    line-height: 20px;
    color: white;}

h1.title-bar  {
      margin-top: 0px;
      margin-bottom: 0px;
  }

.page-header{ display:none;}

.page-tour-by-writer .page-header{ display:block;}

.node-type-author .main-container,
.node-type-place .main-container,
.node-type-story .main-container {padding: 0;}

.col-sm-12 {padding-right: 0; padding-left: 0;}
.row{margin-right: 0; margin-left: 0;}

.panel {
margin-bottom: 0px;
padding-bottom: 25px;
border: 0px;
border-radius: 0px;
-webkit-box-shadow: 0 rgba(0);
box-shadow: 0 0px 0px rgba(0,0,0,0);
background-color: transparent;

}


.panel>.panel-heading {
font-weight: 500;
background-color: transparent;
border: 0px transparent;
padding: 40px 11%;
}

.panel-title {
font-size: 30px !important;
text-align: center;
font-weight: 700;
}

.panel-title{
/*font-weight: bold;
font-size: 25px;
margin: 20px 0px 10px 0px;
text-transform: uppercase;*/}

fieldset {padding: 0 0 30px 0;}

.field p{padding: 10px 0;}

/*Views in Node*/

.views-bootstrap-accordion-plugin-style .panel>.panel-heading {
font-weight: 300;
background-color: transparent;
border: 0px transparent;
padding: 0px;
margin: 0 0 20px 0;
}

.story-right {padding: 0px;}
.story-right p, .group-biography p {
font-size: 16.5px !important;
line-height: 1.5em !important;
  }

.story-right p {
color: #4e6366;
}

.node-story #map {
	border-bottom:1px solid #7F8C8D;
}

.group-biography p {
color: white;
}

/*Modal View in Node */
.modal-content {border-radius: 0px;}

.modal-content .button-link {
  background: #FEE92C;
  margin: 0px 0px 0px 0px;
  border: 0px;
  padding: 5px;
  color: #424949 !important;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  float: right;

}

.gm-style-iw button {
background: transparent;
border: 0px;
color: #424949;
font-weight: bold;
padding: 0px;
}

.modal-content .button-link:hover {
  color: white;
text-decoration: none;
background: #C4B20E;
}

.modal-list {list-style-type: none;}
.modal-list li {padding: 5px 0px; border-top: 4px solid #eee;}

.modal-content .button-link a {border-bottom: none; color: #424949;}
.modal-content .button-link a:focused, .modal-content .button-link a:visited {color: #424949}

.modal-footer .btn {
  color: #aaa;
  margin: 0px 0px 0px 0px;
  border: 0px;
  padding: 0px;
  text-transform: uppercase;
  font-weight: bold;
  color: #aaa;
  letter-spacing: 1px;
  display: inline-block;
  border-radius: 0px;
}

.modal-view-mode .navbar, .modal-view-mode .footer {display: none;}

.view-mode-modal .panel>.panel-heading {
font-weight: 500;
background-color: transparent;
border: 0px transparent;
padding: 20px 11% 10px;
}

.view-mode-modal .views-field-field-story-type {display: none;}

#frameContainer iframe {display: none;} /*suppress popup on mobile*/

.search-collection .field-content-excerpt {display: none}


/*User*/

.page-user .col-sm-12 {padding: 15px;}

.page-user .form-control {
	width: auto;
    border-right: 1px;}

/*Story*/

.details {overflow: visible !important;}

.field-name-field-story-image img{
max-width: 100%;
height: auto;
}

.field-name-field-authors {height: 20px;}

.field-name-field-story-type {
float: left;
padding: 10px;
width: 32%;
font-size: 0.9em;
font-style: italic;
}

.field-name-field-story-type a{color: #000;}

.group-story-panel {padding-bottom: 0px;
padding-top: 50px;
border-top: #42494910px solid;}

.group-meta-panel {
padding: 20px 0;
}

.field-name-field-reference, .field-name-field-reference p {width: 100%; font-size: 0.7em;
color: #b1b1b1; font-style: italic;}
.field-name-field-reference:before, .views-field-field-story-type:before {
width: 40px;
font-family: 'icomoon';
color: #000;
font-size: 27px !important;
display: block;
border-radius: 50px;
height: 40px;
text-align: center;
/*border: #aaa 1px solid;*/
font-weight: 300;
float: left;
margin: 0 20px 0 0;
font-style: normal;
}

.field-name-field-reference:before {padding: 10px 0 0 0;}
.node-type-author .field-name-field-reference:before {padding: 0;}





/* Basics */

.circle  img {
border-radius: 150px;
border: 4px solid #fff;
max-width: 220px;
height: auto;
}


.field-type-entityreference h2 {
font-size: 1em;
}

/*Lightbox*/

/* #lightbox {visibility: hidden; width: 0px;} */
#frameContainer {padding: 0px !important;}

.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.fancybox-skin {
position: relative;
background: transparent;
color: #444;
text-shadow: none;
-webkit-border-radius: 0px;
}

.fancybox-nav span {
visibility: visible;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
background-image: url('images/fancybox_sprite.png');
}

/* Author Page */

.jumbotron .field-name-field-images-slider {
display:none;
}


#block-cck-blocks-field-images-slider{background-color: #000;}

.field-name-field-images-slider .field-item {
float: left;
display: inline;
}

.field-name-field-images-slider .field-item img {
max-height: 360px;
width: auto;
}

.page-header{
background-color: transparent;
color: white;
}

.node-author .field-name-field-icon, .node-type-place .field-name-field-icon-img {
margin: 0 auto;
}


.region-content .field-name-field-images-slider img {
height: 100px;
width: auto;
}
.group-basic {background-color: #424949;  text-align: center; color: white;}
.group-biography {padding-top: 40px !important; background-color: #424949; color: white;}
.group-basic a, .group-basic h2 {color: white;}
.group-basic h2 {font-weight: 700;}
.group-biography .panel-title {text-align: center;}
.group-biography, .group-stories {
padding: 0 0 30px 0;
}
.group-basic .field-type-text-with-summary {padding-top: 20px; text-align: left;}
.field-name-field-images-slider {width: auto;}
.field-name-field-images-slider img {float: left; margin: 0 10px 10px 0;}

.Literary, .Audio, .Video, .Reading, .Place, .Image {margin: 0 auto; text-align: center; width: 70px; font-size: 12px; font-weight: 700; text-transform: uppercase; color: #000;}
.Literary:before, .Audio:before, .Video:before, .Reading:before, .Place:before, .Image:before {
display: none;
}



.field-name-field-reference .field-label:before {width: 70px;
font-family: 'icomoon';
color: #1f1f1f;
font-size: 40px !important;
display: block;
background: white;
border-radius: 50px;
height: 70px;
text-align: center;
border: #aaa 1px solid;
font-weight: 300;
}


.group-places .panel-body {
padding: 0px;
}

.panel-group .panel-heading+.panel-collapse .panel-body {
border-top: 0px solid transparent;
}

fieldset {
padding: 0;
}

.main-container .collapsed:before{
content: '>' !important;
}

.accordion-toggle:before
{
content: '>';
width: 30px;
color: #aaa;
float: left;
font-size: 1em;
display:block;
}

/*Video*/

.media-youtube-video {
position: relative;
padding-bottom: 56.25%;
padding-top: 35px;
height: 0;
overflow: hidden;
}

.media-youtube-video iframe {
position: absolute;
top:0;
left: 0;
width: 100%;
height: 100%;
}

/*Author*/

.mobile-left {
	margin-top:1em;
	border-top:1px solid #7F8C8D;
	padding-top:1em;
}

.story-right h3 {
clear: both;
text-align: center;
}

.view-author-page-map .views-row, .view-place-page .views-row {
margin: 20px 0;
padding: 10px 0;
clear: both;
min-height: 220px;
border-top: 1px #ddd solid;
}

.view-author-page-map .views-row-first, .view-place-page .views-row-first {
border-top: 0px;}

a.tour-link{
color: black;
font-weight: 500;
text-transform: uppercase;
padding: 12px 0px;
width: 210px;
display: block;
background-color: #FEE92C;
margin: 20px auto;
}

a.tour-link:hover {
background-color: #C4B20E;
}

.tour-link:before {width: 70px;
font-family: 'icomoon';
content:'\e047';
color: black;
font-size: 30px !important;
display: block;
border-radius: 50px;
height: 30px;
width: 50px;
text-align: center;
font-weight: 300;
float: left;
margin: -10px 0 0 0;
}

.field-name-field-link-to-author-tour {
background-color:#424949;
border-bottom:1px solid #7F8C8D;
padding: 10px 0;

}



/* Place */

.node-type-place .page-header{
display: none;
}

/* Modal */


/* Quicktabs */



.quicktabs-hide {
  display: none;
}

ul.quicktabs-tabs {
  margin-top: 0;
}
ul.quicktabs-tabs li {
  display: inline;
  background: none;
  list-style-type: none;
  padding: 2px;
  white-space: nowrap;
}
ul.quicktabs-tabs li a:focus {
  outline: none;
}

.featured {max-width: 980px; margin: 0 11% 30px 11%;}
.featured img	{width: 100%;
    height: auto;}

/*Masonry*/

.masonry-item img {
  width: 20%;
  float: left;
  max-width: 100%;
height: auto;
padding: 0 5px;
}


.masonry-item {width: 100%; height: auto; margin-top: 10px}

.masonry-item {
border-bottom: #e9f1f2 1px solid;
}


/* Grid to List Mobile

.views-field-field-icon img{
width: 50px;
height: auto;
float: left;
margin: 0 10px 10px 0;
}

.col-lg-4 {
clear: both;
}


.views-bootstrap-grid-plugin-style {
text-align: left !important;
}
*/

.footer {
clear: both;
text-align: center;
margin-top: 45px;
padding: 100px 0 5px 0;
background: #000;
color:#fff;
}


.footer a {color: #FEE92C; border-bottom: solid 1px #000; cursor: pointer;}

.footer > .container {margin: 0 11%;}
.container {margin-right: 0px; margin-left: 0px; width: 100%;}

.collection h4 {text-align: center; clear: both;}

#footer-bottom img {
	max-height:46px;
	margin-bottom:5px;
}

.footer .widget-area h2 { color: white; padding-bottom:1em;}

/* Related Tours */

.view-this-story-is-part-of-this-tour{
margin-top: 50px;
}

.view-this-story-is-part-of-this-tour ul {
margin: 0 !important;
padding: 0 !important;
}

.view-this-story-is-part-of-this-tour  li {
width: 100%;
list-style-type: none;
position: relative;
background-color: #feeedb /* #4b0101  #000 #391e39 #424949*/;
}

.related-tour-grid img {
width: 100%;
height: auto;
opacity: 0.4;
}

.related-tour-grid h2 {
font-weight: 700;
color: #203338;
letter-spacing: 3px;
}

.over {
position: absolute;
z-index: 100;
top: 20%;
text-align: center;
color: #203338;
width: 100%;
}

.small {
color: #203338;
font-size: 14px;
text-transform: uppercase;
font-weight: 700;
letter-spacing: 3px;
}

.alignleft {float: left; margin: 0 10px 10px 0;}
.alignright {float: right; margin: 0 0px 10px 10px;}


/* Browse */

.tour-list .view-header {display: none;}

.responsive-tabs .responsive-tabs__heading {
	display: none;
}

.responsive-tabs {
background: #FEE92C !important;
}

.responsive-tabs ul.responsive-tabs__list {
    font-size: 18px;
    line-height: 18px;
    margin: 0px auto !important;
    padding: 10px 0 !important;
    text-align: center !important;
    width: 450px;
    cursor: pointer;
}

.tabcontent h3 {text-align: center;}


.responsive-tabs ul.responsive-tabs__list li {
display: inline-block; }

.responsive-tabs .responsive-tabs__list__item {
background: #FEE92C !important;
padding: 10px !important;
color: #000 !important;
text-align: center !important;
border: 0px !important;
margin: 0px 8px 10px !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    font-size: 16px !important;
}


.responsive-tabs .responsive-tabs__list__item--active:hover {
border: 0px white solid;
padding: 5px;
}

.responsive-tabs .responsive-tabs__list__item--active {
border: 0px;
border-color: transparent;
background: #000 !important;
padding: 10px !important;
color: #FEE92C !important;
}

.responsive-tabs .responsive-tabs__panel {
	background: #F2F4F4 !important;
	border: 0 !important;
	border-top: 0;
	clear: left;
	margin-bottom: 0;
	padding: 20px 20px 0;
	word-wrap: break-word;
}

.responsive-tabs .responsive-tabs__panel:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}

#block-quicktabs-browse-the-tours  ul.quicktabs-style-nostyle li.active a:after{
    border-top: 10px solid #FEE92C;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
	bottom: -25px;
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -11px;
    width: 0;
    height: 0;
}

/* Nav Bar */
	.navbar{background: #FEE92C;}



    .navbar-header {
		margin: 0px 2%;
    }



	/*
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
   .navbar-collapse.collapse {
        display: none!important;
    }

    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}

	.navbar-collapse{
  position: absolute;
  left: 0;
  background-color: rgba(0,0,0,0.9);
  /*-webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  overflow: hidden;
}



.navbar-nav>li>a {
  line-height: 30px;
}

.navbar a {
  font-size: 1em;
}

.navbar-collapse:after {
	bottom: 100%;
	left: 50%;
	top: -20px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color:  rgba(0,0,0,0.4);
	border-width: 10px;
	margin-left: -10px;
}

.navbar-default .navbar-collapse { border-color: transparent;   border-top: 0px solid transparent;}

 */

/* Form */

.form-control {
line-height: 1.43;
border-radius: 0px;
border-right: none;}

.views-exposed-widget {margin-top: 10px; margin-bottom: 15px;}

.views-exposed-form .views-exposed-widget {padding: .4em 0px 0 0;}

.views-exposed-form .views-exposed-widget .form-submit {
margin-top: 0px;
}

.views-exposed-widgets {
margin: 0 auto;
}

.form-submit {
height: 34px;
width: 100px;
color: #fff;
background-color: #424949;
border: 0px solid transparent;
border-radius: 0px;
}

/*Font Face*/


@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon/fonts/icomoon.eot?-ocs76f');
	src:url('fonts/icomoon/fonts/icomoon.eot?#iefix-ocs76f') format('embedded-opentype'),
		url('fonts/icomoon/fonts/icomoon.woff?-ocs76f') format('woff'),
		url('fonts/icomoon/fonts/icomoon.ttf?-ocs76f') format('truetype'),
		url('fonts/icomoon/fonts/icomoon.svg?-ocs76f#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'headline';
    src:url('../fonts/headline/HEADOH.TTF');
	font-weight: normal;
	font-style: normal;
}


/*Tour List*/

.view-grouping {
    width: 100%;
    float: left;
    background: white;
	color: #aaa;
	padding: 0px;
	position: relative;
}


.view-grouping .views-field-body{
height: 110px;
overflow: hidden;
}

.view-grouping .views-field-body:before{
content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 3em;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 40%);
  }


.view-grouping-header img, .view-grouping img {
width: 35%;
height: auto;
float: left;
margin: 0 10px 0 0;
}

.views-row {clear: both;}

.view-grouping .views-field-title-1, .view-grouping .views-field-title {
font-size: .8em;
color: #aaa;
text-transform: uppercase;
}

.view-grouping .views-row:nth-child(-n+6){display: block;}
.view-grouping .views-row {display: none;}

.excerpt {
font-size: .85em;
line-height: 18px;
display: block;
}


.tour-list-blocks {
    width: 100%;
    float: left;
    background: white;
	color: #aaa;
	padding: 0px;
	position: relative;
}


.tour-list-blocks .views-field-body{
height: 110px;
overflow: hidden;
}

.tour-list-blocks .views-field-body:before{
content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 3em;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 40%);
  }


.tour-list-blocks img, .view-grouping img {
width: 50%;
height: auto;
float: left;
margin: 0 10px 0 0;
}


.tour-list-blocks .views-field-title-1, .tour-list-blocks .views-field-title {
font-size: .8em;
color: #aaa;
text-transform: uppercase;
}


#block-quicktabs-browse-the-tours .view-grouping-content h3 {visibility: visible;}

.view-grouping-content h3 {margin-top: 0px;}

#block-quicktabs-browse-the-tours .view-grouping-content h3:after {
display: none;
}

.view-grouping-content ul {margin-bottom: 0px; list-style-type: none;}

#block-quicktabs-browse-the-tours .view-grouping {border-top: #F2F4F4 1px solid;}



.btn-outline {
    color: #000;
    margin: 0px 0px 0px 0px;
    border: solid #000 4px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 4px;
    display: inline-block;
	background-color:#FEE92C;
  }


.page-tour-by-writer  .views-exposed-form label {
display: none;
}
.page-tour-by-writer .title-bar, .page-node-23366 .title-bar /*Browse*/ {
display: none;
}



.pager-load-more li>a, .pager li>span {
	color: #424949;
    display: inline-block;
    padding: 50px 15px;
    background-color: transparent;
    border: 2px solid #424949;
    border-radius: 1000px;
	text-transform: uppercase;
	font-size: 14px;
	}


.pager-laod-more li>a:hover, .pager li>span:hover {
border: 2px solid #e45d5e;
color: #e45d5e;
background-color: transparent;
}

/* Multiple authors*/



.writer-list{
    clear: both;
    width: 100%;
    float: none;
    display: inline-block;
padding-left:0;
  }
  
  .writer-list li {
	  list-style:none;
	
  }

.group-story-panel .writer-list {
	padding: 5px 0px 5px 5px;
	margin-right: 10px;
	margin-bottom: 10px;}

.writer-list strong {display: block; text-align: center;}

.relation-label {
    font-size: 0.8em;
    text-transform: uppercase;

}

ul.story-writer-list {
list-style-type: none;
-webkit-margin-before: 0em;
-webkit-margin-after: 0em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 0px;

display:inline-block;
clear: both;
}

ul.story-writer-list li {
float: left;
padding-bottom: 20px;
width: 130px;
text-align: center;
}

ul.story-writer-list li img {
width: 120px;
}

ul.story-writer-list .left {
float: none;
    margin: 0 10px 10px 0;
max-width: auto !important;
width: auto;
  }

ul.story-writer-list .left a {border-bottom: none;}

.hidden-markers {display:none;}


